In [1]:
%pip install requests  datetime numpy

Requirement already satisfied: requests in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (2.26.0)
Requirement already satisfied: datetime in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (4.3)
Requirement already satisfied: numpy in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (1.21.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: pytz in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from datetime) (2021.3)
Requirement already satisfied: zope.interface in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: setuptools in c:\users\88698\appdata\local\programs\python\python39\lib\site-packages (from zope.interface->datetime) (57.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
import pandas as pd
import numpy as np
import datetime

date = '20220127'
stock_no = '2603'
url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' %( date, stock_no)
r = requests.get(url)
r.text

'{"stat":"OK","date":"20220127","title":"111年01月 2603 長榮             各日成交資訊","fields":["日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數"],"data":[["111/01/03","187,837,309","25,836,308,886","142.50","143.00","133.00","139.50","-3.00","76,820"],["111/01/04","68,072,267","9,509,080,238","139.50","141.00","138.00","140.50","+1.00","31,425"],["111/01/05","77,568,365","11,007,709,044","140.50","144.00","139.00","141.00","+0.50","36,578"],["111/01/06","93,502,622","13,346,610,083","139.50","144.50","139.00","143.00","+2.00","39,878"],["111/01/07","106,049,282","15,022,120,623","144.00","145.00","139.00","140.50","-2.50","46,525"],["111/01/10","137,203,986","18,929,882,303","139.50","142.00","135.00","136.50","-4.00","65,012"],["111/01/11","97,937,241","13,279,311,272","136.00","137.50","133.50","134.00","-2.50","46,430"],["111/01/12","155,994,474","20,386,578,492","135.50","136.00","128.00","128.50","-5.50","73,710"],["111/01/13","95,042,077","12,155,944,207","128.50","130.50","126.00","126.00","-2.50","46,325"],["111/01/14","139,530,283","17,819,686,405","126.50","132.00","124.00","132.00","+6.00","56,745"],["111/01/17","106,898,108","13,697,919,970","130.50","131.00","127.00","127.00","-5.00","46,853"],["111/01/18","86,936,264","11,018,014,438","125.50","129.00","124.50","127.00"," 0.00","37,717"],["111/01/19","133,695,843","16,581,654,871","125.50","128.00","121.00","122.50","-4.50","65,468"],["111/01/20","71,313,774","8,785,587,001","122.50","125.00","121.00","124.00","+1.50","31,421"],["111/01/21","178,893,090","21,210,036,231","122.00","122.50","115.50","115.50","-8.50","92,380"],["111/01/24","152,964,023","17,370,187,073","112.00","116.50","110.50","115.00","-0.50","61,173"],["111/01/25","104,194,078","11,655,947,725","114.00","114.00","110.00","110.00","-5.00","48,020"],["111/01/26","77,410,499","8,739,600,577","111.00","114.50","111.00","113.00","+3.00","35,639"]],"notes":["符號說明:+/-/X表示漲/跌/不比價","當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。","ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。"]}'

In [ ]:
data = r.json()
data

In [5]:
def get_stock_history(date, stock_no):
    quotes = []
    url = 'http://www.twse.com.tw/exchangeReport/STOCK_DAY?date=%s&stockNo=%s' %( date, stock_no)
    r = requests.get(url)
    data = r.json()
    return transform(data['data'])

def transform_data(data):
    print(data)
    data[0] = datetime.datetime.strptime( transform_date(data[0]), '%Y/%m/%d') #民國轉西元
    data[1] = int(data[1].replace(',','')) #把千進位的逗點去除
    data[2] = int(data[2].replace(',',''))
    data[3] = float(data[3].replace(',',''))
    data[4] = float(data[4].replace(',',''))
    data[5] = float(data[5].replace(',',''))
    data[6] = float(data[6].replace(',',''))
    data[7] = float(0.0 if data[7].replace(',','') == 'X0.00' else data[7].replace(',',''))
    data[8] = int(data[8].replace(',',''))
    return data

def transform_date(date):
    y, m, d = date.split('/')
    return str(int(y)+1911) + '/' + m + '/' +d #民國轉西元

def transform(data):
    return [transform_data(d) for d in data]

df_s = get_stock_history(date, stock_no)
df_s

['111/01/03', '187,837,309', '25,836,308,886', '142.50', '143.00', '133.00', '139.50', '-3.00', '76,820']
['111/01/04', '68,072,267', '9,509,080,238', '139.50', '141.00', '138.00', '140.50', '+1.00', '31,425']
['111/01/05', '77,568,365', '11,007,709,044', '140.50', '144.00', '139.00', '141.00', '+0.50', '36,578']
['111/01/06', '93,502,622', '13,346,610,083', '139.50', '144.50', '139.00', '143.00', '+2.00', '39,878']
['111/01/07', '106,049,282', '15,022,120,623', '144.00', '145.00', '139.00', '140.50', '-2.50', '46,525']
['111/01/10', '137,203,986', '18,929,882,303', '139.50', '142.00', '135.00', '136.50', '-4.00', '65,012']
['111/01/11', '97,937,241', '13,279,311,272', '136.00', '137.50', '133.50', '134.00', '-2.50', '46,430']
['111/01/12', '155,994,474', '20,386,578,492', '135.50', '136.00', '128.00', '128.50', '-5.50', '73,710']
['111/01/13', '95,042,077', '12,155,944,207', '128.50', '130.50', '126.00', '126.00', '-2.50', '46,325']
['111/01/14', '139,530,283', '17,819,686,405', '126.50', '132.00', '124.00', '132.00', '+6.00', '56,745']
['111/01/17', '106,898,108', '13,697,919,970', '130.50', '131.00', '127.00', '127.00', '-5.00', '46,853']
['111/01/18', '86,936,264', '11,018,014,438', '125.50', '129.00', '124.50', '127.00', ' 0.00', '37,717']
['111/01/19', '133,695,843', '16,581,654,871', '125.50', '128.00', '121.00', '122.50', '-4.50', '65,468']
['111/01/20', '71,313,774', '8,785,587,001', '122.50', '125.00', '121.00', '124.00', '+1.50', '31,421']
['111/01/21', '178,893,090', '21,210,036,231', '122.00', '122.50', '115.50', '115.50', '-8.50', '92,380']
['111/01/24', '152,964,023', '17,370,187,073', '112.00', '116.50', '110.50', '115.00', '-0.50', '61,173']
['111/01/25', '104,194,078', '11,655,947,725', '114.00', '114.00', '110.00', '110.00', '-5.00', '48,020']
['111/01/26', '77,410,499', '8,739,600,577', '111.00', '114.50', '111.00', '113.00', '+3.00', '35,639']

[[datetime.datetime(2022, 1, 3, 0, 0),
  187837309,
  25836308886,
  142.5,
  143.0,
  133.0,
  139.5,
  -3.0,
  76820],
 [datetime.datetime(2022, 1, 4, 0, 0),
  68072267,
  9509080238,
  139.5,
  141.0,
  138.0,
  140.5,
  1.0,
  31425],
 [datetime.datetime(2022, 1, 5, 0, 0),
  77568365,
  11007709044,
  140.5,
  144.0,
  139.0,
  141.0,
  0.5,
  36578],
 [datetime.datetime(2022, 1, 6, 0, 0),
  93502622,
  13346610083,
  139.5,
  144.5,
  139.0,
  143.0,
  2.0,
  39878],
 [datetime.datetime(2022, 1, 7, 0, 0),
  106049282,
  15022120623,
  144.0,
  145.0,
  139.0,
  140.5,
  -2.5,
  46525],
 [datetime.datetime(2022, 1, 10, 0, 0),
  137203986,
  18929882303,
  139.5,
  142.0,
  135.0,
  136.5,
  -4.0,
  65012],
 [datetime.datetime(2022, 1, 11, 0, 0),
  97937241,
  13279311272,
  136.0,
  137.5,
  133.5,
  134.0,
  -2.5,
  46430],
 [datetime.datetime(2022, 1, 12, 0, 0),
  155994474,
  20386578492,
  135.5,
  136.0,
  128.0,
  128.5,
  -5.5,
  73710],
 [datetime.datetime(2022, 1, 13, 0, 0),
  95042077,
  12155944207,
  128.5,
  130.5,
  126.0,
  126.0,
  -2.5,
  46325],
 [datetime.datetime(2022, 1, 14, 0, 0),
  139530283,
  17819686405,
  126.5,
  132.0,
  124.0,
  132.0,
  6.0,
  56745],
 [datetime.datetime(2022, 1, 17, 0, 0),
  106898108,
  13697919970,
  130.5,
  131.0,
  127.0,
  127.0,
  -5.0,
  46853],
 [datetime.datetime(2022, 1, 18, 0, 0),
  86936264,
  11018014438,
  125.5,
  129.0,
  124.5,
  127.0,
  0.0,
  37717],
 [datetime.datetime(2022, 1, 19, 0, 0),
  133695843,
  16581654871,
  125.5,
  128.0,
  121.0,
  122.5,
  -4.5,
  65468],
 [datetime.datetime(2022, 1, 20, 0, 0),
  71313774,
  8785587001,
  122.5,
  125.0,
  121.0,
  124.0,
  1.5,
  31421],
 [datetime.datetime(2022, 1, 21, 0, 0),
  178893090,
  21210036231,
  122.0,
  122.5,
  115.5,
  115.5,
  -8.5,
  92380],
 [datetime.datetime(2022, 1, 24, 0, 0),
  152964023,
  17370187073,
  112.0,
  116.5,
  110.5,
  115.0,
  -0.5,
  61173],
 [datetime.datetime(2022, 1, 25, 0, 0),
  104194078,
  11655947725,
  114.0,
  114.0,
  110.0,
  110.0,
  -5.0,
  48020],
 [datetime.datetime(2022, 1, 26, 0, 0),
  77410499,
  8739600577,
  111.0,
  114.5,
  111.0,
  113.0,
  3.0,
  35639]]

In [6]:
s = pd.DataFrame(df_s)
s.columns = ['date', 'shares', 'amount', 'open', 'high', 'low', 'close', 'change', 'turnover']

s

,date,shares,amount,open,high,low,close,change,turnover
0,2022-01-03,187837309,25836308886,142.5,143.0,133.0,139.5,-3.0,76820
1,2022-01-04,68072267,9509080238,139.5,141.0,138.0,140.5,1.0,31425
2,2022-01-05,77568365,11007709044,140.5,144.0,139.0,141.0,0.5,36578
3,2022-01-06,93502622,13346610083,139.5,144.5,139.0,143.0,2.0,39878
4,2022-01-07,106049282,15022120623,144.0,145.0,139.0,140.5,-2.5,46525
5,2022-01-10,137203986,18929882303,139.5,142.0,135.0,136.5,-4.0,65012
6,2022-01-11,97937241,13279311272,136.0,137.5,133.5,134.0,-2.5,46430
7,2022-01-12,155994474,20386578492,135.5,136.0,128.0,128.5,-5.5,73710
8,2022-01-13,95042077,12155944207,128.5,130.5,126.0,126.0,-2.5,46325
9,2022-01-14,139530283,17819686405,126.5,132.0,124.0,132.0,6.0,56745
10,2022-01-17,106898108,13697919970,130.5,131.0,127.0,127.0,-5.0,46853
11,2022-01-18,86936264,11018014438,125.5,129.0,124.5,127.0,0.0,37717
12,2022-01-19,133695843,16581654871,125.5,128.0,121.0,122.5,-4.5,65468
13,2022-01-20,71313774,8785587001,122.5,125.0,121.0,124.0,1.5,31421
14,2022-01-21,178893090,21210036231,122.0,122.5,115.5,115.5,-8.5,92380
15,2022-01-24,152964023,17370187073,112.0,116.5,110.5,115.0,-0.5,61173
16,2022-01-25,104194078,11655947725,114.0,114.0,110.0,110.0,-5.0,48020
17,2022-01-26,77410499,8739600577,111.0,114.5,111.0,113.0,3.0,35639

In [7]:
s['stockno'] = pd.Series(stock_no ,index = s.index)
s

,date,shares,amount,open,high,low,close,change,turnover,stockno
0,2022-01-03,187837309,25836308886,142.5,143.0,133.0,139.5,-3.0,76820,2603
1,2022-01-04,68072267,9509080238,139.5,141.0,138.0,140.5,1.0,31425,2603
2,2022-01-05,77568365,11007709044,140.5,144.0,139.0,141.0,0.5,36578,2603
3,2022-01-06,93502622,13346610083,139.5,144.5,139.0,143.0,2.0,39878,2603
4,2022-01-07,106049282,15022120623,144.0,145.0,139.0,140.5,-2.5,46525,2603
5,2022-01-10,137203986,18929882303,139.5,142.0,135.0,136.5,-4.0,65012,2603
6,2022-01-11,97937241,13279311272,136.0,137.5,133.5,134.0,-2.5,46430,2603
7,2022-01-12,155994474,20386578492,135.5,136.0,128.0,128.5,-5.5,73710,2603
8,2022-01-13,95042077,12155944207,128.5,130.5,126.0,126.0,-2.5,46325,2603
9,2022-01-14,139530283,17819686405,126.5,132.0,124.0,132.0,6.0,56745,2603
10,2022-01-17,106898108,13697919970,130.5,131.0,127.0,127.0,-5.0,46853,2603
11,2022-01-18,86936264,11018014438,125.5,129.0,124.5,127.0,0.0,37717,2603
12,2022-01-19,133695843,16581654871,125.5,128.0,121.0,122.5,-4.5,65468,2603
13,2022-01-20,71313774,8785587001,122.5,125.0,121.0,124.0,1.5,31421,2603
14,2022-01-21,178893090,21210036231,122.0,122.5,115.5,115.5,-8.5,92380,2603
15,2022-01-24,152964023,17370187073,112.0,116.5,110.5,115.0,-0.5,61173,2603
16,2022-01-25,104194078,11655947725,114.0,114.0,110.0,110.0,-5.0,48020,2603
17,2022-01-26,77410499,8739600577,111.0,114.5,111.0,113.0,3.0,35639,2603

In [8]:
s.index

RangeIndex(start=0, stop=18, step=1)

In [9]:
print(s.groupby('stockno').shares.sum())

stockno
2603    2071043585
Name: shares, dtype: int64

In [10]:
s.to_csv('D:\\stock\\2603TW.csv')

In [11]:
import requests
import pandas as pd
import numpy as np
import datetime

df = pd.read_csv('D:\\stock\\2603TW.csv', encoding='BIG5')
df

,Unnamed: 0,date,shares,amount,open,high,low,close,change,turnover,stockno
0,0,2022-01-03,187837309,25836308886,142.5,143.0,133.0,139.5,-3.0,76820,2603
1,1,2022-01-04,68072267,9509080238,139.5,141.0,138.0,140.5,1.0,31425,2603
2,2,2022-01-05,77568365,11007709044,140.5,144.0,139.0,141.0,0.5,36578,2603
3,3,2022-01-06,93502622,13346610083,139.5,144.5,139.0,143.0,2.0,39878,2603
4,4,2022-01-07,106049282,15022120623,144.0,145.0,139.0,140.5,-2.5,46525,2603
5,5,2022-01-10,137203986,18929882303,139.5,142.0,135.0,136.5,-4.0,65012,2603
6,6,2022-01-11,97937241,13279311272,136.0,137.5,133.5,134.0,-2.5,46430,2603
7,7,2022-01-12,155994474,20386578492,135.5,136.0,128.0,128.5,-5.5,73710,2603
8,8,2022-01-13,95042077,12155944207,128.5,130.5,126.0,126.0,-2.5,46325,2603
9,9,2022-01-14,139530283,17819686405,126.5,132.0,124.0,132.0,6.0,56745,2603
10,10,2022-01-17,106898108,13697919970,130.5,131.0,127.0,127.0,-5.0,46853,2603
11,11,2022-01-18,86936264,11018014438,125.5,129.0,124.5,127.0,0.0,37717,2603
12,12,2022-01-19,133695843,16581654871,125.5,128.0,121.0,122.5,-4.5,65468,2603
13,13,2022-01-20,71313774,8785587001,122.5,125.0,121.0,124.0,1.5,31421,2603
14,14,2022-01-21,178893090,21210036231,122.0,122.5,115.5,115.5,-8.5,92380,2603
15,15,2022-01-24,152964023,17370187073,112.0,116.5,110.5,115.0,-0.5,61173,2603
16,16,2022-01-25,104194078,11655947725,114.0,114.0,110.0,110.0,-5.0,48020,2603
17,17,2022-01-26,77410499,8739600577,111.0,114.5,111.0,113.0,3.0,35639,2603

In [14]:
df['ma_short'] = df.iloc[:,4].rolling(5).mean()
df['ma_long'] = df.iloc[:,4].rolling(20).mean()

In [15]:
df

,Unnamed: 0,date,shares,amount,open,high,low,close,change,turnover,stockno,ma_short,ma_long
0,0,2022-01-03,187837309,25836308886,142.5,143.0,133.0,139.5,-3.0,76820,2603,NaN,NaN
1,1,2022-01-04,68072267,9509080238,139.5,141.0,138.0,140.5,1.0,31425,2603,NaN,NaN
2,2,2022-01-05,77568365,11007709044,140.5,144.0,139.0,141.0,0.5,36578,2603,NaN,NaN
3,3,2022-01-06,93502622,13346610083,139.5,144.5,139.0,143.0,2.0,39878,2603,NaN,NaN
4,4,2022-01-07,106049282,15022120623,144.0,145.0,139.0,140.5,-2.5,46525,2603,141.2,NaN
5,5,2022-01-10,137203986,18929882303,139.5,142.0,135.0,136.5,-4.0,65012,2603,140.6,NaN
6,6,2022-01-11,97937241,13279311272,136.0,137.5,133.5,134.0,-2.5,46430,2603,139.9,NaN
7,7,2022-01-12,155994474,20386578492,135.5,136.0,128.0,128.5,-5.5,73710,2603,138.9,NaN
8,8,2022-01-13,95042077,12155944207,128.5,130.5,126.0,126.0,-2.5,46325,2603,136.7,NaN
9,9,2022-01-14,139530283,17819686405,126.5,132.0,124.0,132.0,6.0,56745,2603,133.2,NaN
10,10,2022-01-17,106898108,13697919970,130.5,131.0,127.0,127.0,-5.0,46853,2603,131.4,NaN
11,11,2022-01-18,86936264,11018014438,125.5,129.0,124.5,127.0,0.0,37717,2603,129.3,NaN
12,12,2022-01-19,133695843,16581654871,125.5,128.0,121.0,122.5,-4.5,65468,2603,127.3,NaN
13,13,2022-01-20,71313774,8785587001,122.5,125.0,121.0,124.0,1.5,31421,2603,126.1,NaN
14,14,2022-01-21,178893090,21210036231,122.0,122.5,115.5,115.5,-8.5,92380,2603,125.2,NaN
15,15,2022-01-24,152964023,17370187073,112.0,116.5,110.5,115.0,-0.5,61173,2603,121.5,NaN
16,16,2022-01-25,104194078,11655947725,114.0,114.0,110.0,110.0,-5.0,48020,2603,119.2,NaN
17,17,2022-01-26,77410499,8739600577,111.0,114.5,111.0,113.0,3.0,35639,2603,116.3,NaN